.hero {
    background-image: linear-gradient(to top, rgba(29, 29, 29, 0.9) 0%, rgba(9, 18, 24, 0.9) 100%), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}